header {   
    z-index: 50;    
    background-color: map-get($map: $palette, $key: lila-50);
    height: 90px;
    transition: 0.5s;
    top: 0;    
    position: fixed;
    width: 100%;
    nav {
        div{
            div{
                //background-color: map-get($map: $palette, $key: lila);
                padding: 20px;
                width: 100vw;              
            }
        }
    }    
}
header:hover {
    background-color: map-get($map: $palette, $key: lila);
}
.header-space {
    width: 20vw;
}
.under-header {
    margin-top: 100px;
}