header {   
    background-color: map-get($map: $palette, $key: lila);
    height: 90px;
    top: 0;    
    position: fixed;
    width: 100%;
    nav {
        div{
            div{
                background-color: map-get($map: $palette, $key: lila);
                padding: 20px;
                width: 100vw;              
            }
        }
    }    
}
.header-space {
    width: 20vw;
}
.under-header {
    margin-top: 100px;
}