.dsflex-between {
    display: flex;
    justify-content: space-between;    
}
.dsflex-center {
    display: flex;
    justify-content: center;    
}
.dsflex-around {
    display: flex;
    justify-content: space-around;    
}